# PORT
PORT=5000

# NODE ENVIRONMENT
NODE_ENV=development

# NEON POSTGRES SERVERLESS DATABASE URL
DATABASE_URL="your-database-url-here"

# PASSWORD HASHING SALT ROUNDS
SALT_ROUNDS=10

# JWT AUTHENTICATION SECRETS
JWT_ACCESS_TOKEN_SECRET="your-access-token-secret-here"
JWT_ACCESS_TOKEN_EXPIRATION=15m

JWT_REFRESH_TOKEN_SECRET="your-refresh-token-secret-here"
JWT_REFRESH_TOKEN_EXPIRATION=15d

# DEVICE ID COOKIE CONFIGURATION
DEVICE_COOKIE_MAX_AGE=31536000000 # 365 days in milliseconds


# MAX NUMBER OF SESSIONS PER USER
MAX_SESSIONS=7

# OTP CONFIGURATION
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=10
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60

# MAIL CONFIGURATION (OPTIONAL, ONLY IF YOU PLAN TO USE EMAIL SERVICES OTHER THAN RESEND)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
MAIL_SERVICE="gmail"

# RESEND CONFIGURATION (EMAIL SERVICE)
RESEND_API_KEY="your-resend-api-key-here"

# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name-here"
CLOUDINARY_API_KEY="your-cloudinary-api-key-here"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret-here"

CLOUDINARY_URL="your-cloudinary-url-here"